<div id="comparison-cases-log-div"></div>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/comparison-cases-log.js"></script>
<br>
<input type="checkbox" id="brazil-input-ccl" name="brazil" value="Brazil"
       class="comparison-cases-log"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="brazil"> Brazil</label>
<br>
<input type="checkbox" id="spain-input-ccl" name="spain" value="Spain"
       class="comparison-cases-log" checked="True"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="spain"> Spain</label>
<br>
<input type="checkbox" id="italy-input-ccl" name="italy" value="Italy"
       class="comparison-cases-log"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="italy"> Italy</label>
<br>
<input type="checkbox" id="peru-input-ccl" name="peru" value="Peru"
       class="comparison-cases-log" checked="True"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="peru"> Peru</label>
<br>
<input type="checkbox" id="mexico-input-ccl" name="mexico" value="Mexico"
       class="comparison-cases-log" checked="True"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="mexico"> Mexico</label>
<br>
<input type="checkbox" id="chile-input-ccl" name="chile" value="Chile"
       class="comparison-cases-log" checked="True"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="chile"> Chile</label>
<br>
<input type="checkbox" id="ecuador-input-ccl" name="ecuador" value="Ecuador"
       class="comparison-cases-log"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="ecuador"> Ecuador</label>
<br>
<input type="checkbox" id="colombia-input-ccl" name="colombia" value="Colombia"
       class="comparison-cases-log" checked="True"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="colombia"> Colombia</label>
<br>
<input type="checkbox" id="argentina-input-ccl" name="argentina" value="Argentina"
       class="comparison-cases-log" checked="True"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="argentina"> Argentina</label>
<br>
<input type="checkbox" id="venezuela-input-ccl" name="venezuela" value="Venezuela"
       class="comparison-cases-log"
       onchange="checkboxClick(this.value, this.name, 'ccl')">
<label for="venezuela"> Venezuela</label>